
# configuration
stages:
- test
variables:
  GIT_DEPTH: 0

# PHP_CodeSniffer
test-syntax:
  stage: test
  image: php:8.4
  script:
    - curl --silent --output /tmp/phpcs.phar https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
    - php /tmp/phpcs.phar --standard=PSR12 --report=junit --report-file=report.xml .
  only:
    - branches@opsone_ch/typo3/varnish
  # artifact configuration (reporting)
  artifacts:
    when: always
    reports:
      junit: report.xml
